﻿body {
}

.form-container {
    background: white;
    margin: 100px auto;
    width: 400px;
}

.textBox-container {
    position: relative;
    margin-bottom: 20px;
}

.custom-textBox {
    width: 24%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid gainsboro;
    padding: 0 60px 0 25px;
    color: black;
}


.dropDownList-container {
    padding: 0 0 20px 0;
}


.custom-DropDownList {
    width: 47%;
    height: 30px;
    border-radius: 20px;
    border: 1px solid gainsboro;
    padding: 0 60px 0 25px;
    color: black;
}


.button-container {
    padding: 0 0 0 100px;
}

.custom-button {
    width: 30%;
    height: 40px;
    border-radius: 50px;
    font-weight: bold;
    background: rgb(168, 5, 5);
    color: white;
    border: 0;
}

.resultado-container {
    font-size: 20px;
    padding: 20px;
}


h1 {
    color: blue;
}